body {
    font-family: sans-serif;
}
.header {
    margin: 10px;
    margin-bottom: 20px;
    font-size: larger;
    padding: 8px;
    vertical-align: top;
}
.logo {
    float: left;
    margin: 5px;
    margin-right: 15px;
    border: none;
}

h3 { font-size: 90%; margin-bottom: 5px; }
.form_input_row { margin: 10px; }
.form_input_row label { font-weight: bold; }

div.main {clear: both; }
p { margin: 10px; line-height: 125%; }
.note {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

table.highlighttable {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
pre {
    font-size: 14px;
    line-height: 125%;
}
td.linenos { 
    text-align: right; 
    padding: 0 7px; 
    background: #ccc;
}

.wrap {
    white-space: pre-wrap;
}
