<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>${title}</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="static/base.css" type="text/css"/>
        <link rel="stylesheet" href="static/pygments.css" type="text/css"/>
	</head>
	<body>
        <div class="header">
            <a href="/"><img class="logo" src="/static/librarypaste.png" alt="Library Paste Logo" /></a>
				<a href="/">Library Paste</a>
				| <a href="/about">About<a/>
        </div>
	<div class="main">
	
	${self.body()}
	
	</div>
	</body>
</html>
