<%inherit file="base.html"/>


<form method="post" enctype="multipart/form-data" accept-charset="utf-8">

<p class="note">Use ${brand_name} Paste to easily share snippets of text, code or files. Fill out the form and get a unique link you can use to share the content.</p>
<div class="form_input_row">
    <label for="nick">Nickname:</label>
    <input type="text" width="15" name="nick" value="${pre_nick}" id="nick"/>
    <div class="smt_button">
        <label for="makeshort">Use a short URL:</label><input type="checkbox" name="makeshort" id="makeshort" value="True"
        % if short:
            checked="checked"
        % endif
        />
    </div>
</div>
<div style="clear: both;">

<div class="form_input_row">
    <label for="file">Select a file:</label>
    <input type="file" name="file" id="file"/>
</div>

<h3>Or paste in text <span class="note">Note: You may only upload a file OR add text, not both at once.</span></h3>
<div class="form_input_row">
% if lexers:
    <label for="fmt">Formatting:</label>
    <select name="fmt" id="fmt">
        <option value="_">None (Plain Text)</option>
        % for lex_desc, lex_id in lexers:
            <option value="${lex_id}">${lex_desc}</option>
        % endfor
    </select>
	% else:
	<input type="hidden" name="fmt" value="_" />
	% endif
</div>
<div class="code_area">
    <textarea rows="20" cols="120" name="code"></textarea>
</div>
<input type="submit" value="Paste!" />
</form>
