<%inherit file="base.html"/>

<p>${title}
<br/ > <a href="${plainurl}">(Plain Text)</a>
<a href="#wrap" id="wrapbtn">(Wrap Lines)</a>
<script>
    $('a#wrapbtn').toggle(function() {
        $("td.linenos").toggle();
        $("td.code pre").toggleClass("wrap");
        $("a#wrapbtn").text("(Unwrap Lines)");
    }, function() {
        $("td.linenos").toggle();
        $("td.code pre").toggleClass("wrap");
        $("a#wrapbtn").text("(Wrap Lines)");
    });
</script>

</p>
<div style="clear: both;"></div>
${code}
% if wrap:
    </div>
% endif