<div>$title 
<a href="$url_for("plain", pasteid=$pasteid)">(Plain Text)</a>
<a href="$url_for("paste")">(Create New Paste)</a>
</div>

<table class="codetable">
<tr>
<td class="numcell">
<pre>$linenums</pre>
</td>
<td class="codecell">
$code
</td>
</table>
